{% extends '_layout.html' %}

{% block main_css -%}
    <link rel="stylesheet" href="{{ static_path('css/admin/layout.css') }}">
{%- endblock %}

{%- block main_nav -%}
    <a href="{{ app.path('home') }}">Back to homepage</a>
{%- endblock -%}

{% block nav -%}
    <a href="{{ app.path('admin.page.list') }}">Pages</a>
    <a href="{{ app.path('admin.blog.list') }}">Blog / New Releases</a>
    <a href="{{ app.path('admin.course.list') }}">Courses</a>
    <a href="{{ app.path('admin.profile.list') }}">Profiles</a>
{%- endblock %}
