{% extends "admin/_layout.html" %}

{% block header_title %}Node{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ static_path('css/admin/base-list.css') }}">
{% endblock %}

{% block container %}
    <h2>{{ self.header_title() }}</h2>

    <div class="controls">
        <a class="trigger new" href="{% block route_new %}#new{% endblock %}">New</a>
        <a class="trigger delete">Delete selected</a>
    </div>

    <div class="models">
        {%- block model_list -%}{%- endblock -%}
    </div>
{% endblock %}

{% block js %}
    <script src="{{ static_path('js/admin/base-list.js') }}"></script>
{% endblock %}