{% extends "admin/_layout.html" %}

{% block header_title %}
    {%- if model -%}
        {% block header_title_update %}Node #{{ model.id }}{% endblock %}
    {%- else -%}
        {% block header_title_new %}New Node{% endblock %}
    {%- endif -%}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ static_path('vendors/blickr/build/css/blickr.css') }}">
    <link rel="stylesheet" href="{{ static_path('css/admin/base-editor.css') }}">
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block container %}
    <div class="help">
        You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown script</a>
        for formatting the content.
    </div>
    <h2>{{ self.header_title() }}</h2>
    <nav>{%- block editor_nav -%}{%- endblock -%}</nav>
    <div class="primary" data-name="General">
        <form class="model editor" method="post" data-enabled="{{ 'true' if model.enabled else 'false' }}">
            <div class="title">
                <input class="editable" type="text" name="name" placeholder="(Untitled)">
            </div>
            <div class="path">
                <input class="editable auto" type="text" name="path" placeholder="untitled">
            </div>
            <div class="content"></div>
            <div class="actions">
                <button type="submit"></button>
                <button type="button" class="preview"></button>
                <button type="button" class="publish"></button>
                <button type="button" class="unpublish"></button>
            </div>
        </form>
        <article class="preview">
            <button type="button" class="preview-done">Back to editing</button>
            <section class="content"></section>
        </article>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ static_path('vendors/blickr/build/js/blickr.js') }}"></script>
    <script>
        var model     = {{ to_json(to_dict(model)) if model else 'null' }};
        var modelId   = model === null ? null : model.id;
        var updateUrl = '{{ update_url }}';
    </script>
    <script src="{{ static_path('js/admin/base-editor.js') }}"></script>
    {% block extra_js %}{% endblock %}
{% endblock %}