{% extends "admin/_layout.html" %}

{% block header_title %}Control System{% endblock %}

{% block css %}
<style>
    .container {
        padding: 20px 50px;
        max-width: 360px;
    }
</style>
{% endblock %}

{% block container %}
    <h2>{{ self.header_title() }}</h2>

    <p>
        You are now in the control system where people with security clearance
        have access to manage web page content and trigger application maintenance
        tools (only for <b>sysadmin</b> permission).
    </p>

    <p>
        Please note that all changes are monitored. Any activities within the
        control system will be recorded.
    </p>
{% endblock %}

{% block js %}
    {#<script src="{{ static_path('js/admin/base-list.js') }}"></script>#}
{% endblock %}
