.container h2{max-width:720px;margin:0 auto;padding:30px 50px;font-weight:200;font-size:3em}.container .models{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-align-items:stretch;-moz-align-items:stretch;-ms-align-items:stretch;align-items:stretch;max-width:720px;margin:0 auto;padding:50px}.container .models .model{position:relative;width:160px;height:160px;font-size:1em;text-decoration:none;text-transform:uppercase;color:#000;background-color:#EEE;margin-right:10px;margin-bottom:10px;padding:20px}
/*# sourceMappingURL=base_list.css.map */
