@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);body,input,button{text-rendering:optimizeLegibility;font-family:"Helvetica Neue","Roboto","Helvetica",sans-serif}.navbar.main{border-radius:0;font-weight:200}
