.container article h1{text-transform:uppercase;font-weight:200;font-size:3em;margin:0;padding:50px 0}.container article .metadata{text-align:right;font-size:12px;font-style:italic}.container article .metadata time{border-bottom:1px dashed #DDD}
/*# sourceMappingURL=blog_page.css.map */
