.container article h1{text-transform:uppercase;font-weight:200;font-size:3em;margin:0;padding:50px 0 0 0}.container article h1+section>p:first-child{text-transform:uppercase;padding:0 0 50px 0;margin:0 0 10px 0;font-size:2em;color:#999}
/*# sourceMappingURL=profile_page.css.map */
