.container .profiles .profile span{position:absolute;left:20px;right:20px}.container .profiles .profile span:first-child{position:absolute;bottom:50%;font-size:2em;display:block;font-weight:700}.container .profiles .profile span:first-child+span{position:absolute;top:50%;font-size:1.25em}
/*# sourceMappingURL=profile_list.css.map */
