$fa-font-path: '../../vendors/font-awesome/fonts/';

@import 'css3';
@import 'colours';
@import '../../vendors/font-awesome/scss/font-awesome';

h2 {
    padding: 10px 50px;
    margin: 20px 0 0 0;
    color: $palette_bw_d;
    font-size: 12px;
    font-weight: 200;
}

.help {
    text-align: center;
    padding: 5px 50px;
    background-color: $palette_bw_d;
    color: $palette_bw_6;
    font-size: 0.75em;
}

.model.editor {
    .title {
        @include flex-container-default();

        input {
            @include flex-grow(1);

            outline: none;
            padding: 10px 50px;
            font-size: 24px;
            border: none;
            border-bottom: 2px solid #eee;
        }

        input:focus {
            border-color: $palette_light_blue;
        }
    }

    .path {
        @include flex-container-default();

        border-bottom: 2px solid #eee;
        padding: 0px 50px;

        input {
            @include flex-grow(1);

            outline: none;
            padding: 10px 0px;
            font-size: 12px;
            border: none;
            font-weight: 700;
        }

        input:focus {
            border-color: $palette_light_blue;
        }

        input.auto {
            color: $palette_bw_6;
        }

        &:before {
            font-size: 12px;
            padding: 10px 0px;
            color: $palette_bw_d;
            content: '/';
        }
    }

    .content {
        padding: 20px 50px;

        textarea {
            font-weight: 200;
        }
    }

    .actions {
        @include flex-container-default();

        position: fixed;
        right: 10px;
        bottom: 10px;

        button {
            cursor: pointer;
            padding: 5px 7px;
            margin-left: 10px;
            border: 3px solid $palette_bw_9;
            color: $palette_bw_9;
            background-color: $palette_bw_f;
            font-size: 1.25em;
            min-width: 2em;
            text-align: center;

            &:before {
                @include fa-icon();
            }

            &:hover {
                border-color: $palette_bw_0;
                color: $palette_bw_0;
            }
        }

        button[type="submit"] {
            border-color: $palette_light_blue;
            color: $palette_light_blue;

            &:before {
                content: $fa-var-floppy-o;
            }

            &:hover {
                border-color: $palette_dark_blue;
                color: $palette_dark_blue;
            }
        }

        button.preview {
            &:before {
                content: $fa-var-eye;
            }
        }

        button.publish {
            border-color: $palette_dark_red;
            color: $palette_dark_red;

            &:before {
                content: $fa-var-globe;
            }
        }

        button.unpublish {
            border-color: $palette_dark_green;
            color: $palette_dark_green;

            &:before {
                content: $fa-var-globe;
            }
        }
    }

    .element {
        textarea {
            font-family: monospace;
        }

        &.table {
            table {
                margin: -1px;
                width: auto;
                max-width: 100%;
            }
        }
    }

    &[data-enabled="true"] {
        button.publish {
            display: none;
        }
    }

    &[data-enabled="false"] {
        button.unpublish {
            display: none;
        }
    }
}

article.preview {
    display: none;
    padding: 20px 50px;

    button {
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        padding: 5px 7px;
        margin-left: 10px;
        border: 3px solid $palette_bw_9;
        color: $palette_bw_9;
        background-color: $palette_bw_f;
        font-size: 1.25em;
        min-width: 2em;
        text-align: center;

        &:before {
            @include fa-icon();

            content: $fa-var-arrow-left;
            margin-right: 10px;
        }

        &:hover {
            border-color: $palette_bw_0;
            color: $palette_bw_0;
        }
    }

    .content {
        margin-top: 10px;

        table td {
            padding: 5px;
        }
    }
}

.model.editor.in-preview {
    .content, .actions {
        display: none;
    }

    & + article.preview {
        display: block;
    }
}