$fa-font-path: '../../vendors/font-awesome/fonts/';

@import 'css3';
@import 'colours';
@import '../../vendors/font-awesome/scss/font-awesome';

h2 {
    padding: 10px 50px;
    margin: 20px 0;
    color: $palette_bw_0;
    font-weight: 200;
}

.container {
    .trigger, .course {
        white-space: nowrap;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 10px;
        color: $palette_bw_f;
        background-color: $palette_bw_9;

        &:hover {
            background-color: $palette_bw_0;
        }
    }

    .controls {
        @include flex-container-default();

        padding: 10px 50px;
        background-color: $palette_bw_e;

        .trigger {
            margin-right: 10px;
        }

        .trigger.new {
            background-color: $palette_light_green;

            &:hover {
                background-color: $palette_dark_green;
            }
        }

        .trigger.delete {
            background-color: $palette_light_red;

            &:hover {
                background-color: $palette_dark_red;
            }
        }
    }

    .models {
        @include flex-container-default();

        padding: 10px 50px;

        .model {
            @include flex-container-default();

            padding: 0;
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: $palette_dark_blue;
            color: $palette_bw_f;
            text-decoration: none;

            .marker {
                padding: 5px 10px;
                border-right: 1px solid $palette_light_blue;

                &:before {
                    @include fa-icon();

                    content: $fa-var-square-o;
                }

                &.checked {
                    background-color: $palette_bw_0;
                    border-color: $palette_bw_f;
                    &:before {
                        content: $fa-var-check-square-o;
                    }
                }
            }

            .name {
                padding: 5px 10px;
            }

            &:hover {
                background-color: $palette_light_blue;
            }
        }
    }
}

.container[data-selection-count="0"] .controls .trigger.delete {
    display: none;
}