$fa-font-path: '../../vendors/font-awesome/fonts/';

@import '../layout';
@import '../colours';

header {
    background-color: $palette_bw_0;
    color: $palette_bw_f;

    a, a:link {
        color: $palette_bw_f;
    }

    .panel.meta {
        .name {
            a {
                color: $palette_dark_red;
            }
        }
    }
}