@import 'colours';
@import 'css3';

.dialog-backdrop {
    @include flex-container-default();
    @include flex-container-align-items(center);
    @include flex-justify-content(center);

    position: fixed;
    z-index: 1000;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .dialog-controls {
        position: absolute;
        padding: 14px 5px;
        margin-left: -50px;

        button {
            border: none;
            cursor: pointer;
            background-color: transparent;
            border: none;
            border-radius: 30px;
            font-size: 16px;
            padding: 6px 5px;
            color: $palette_bw_f;
            background-color: $palette_dark_red;

            &:hover {
                background-color: $palette_light_red;
            }
        }
    }

    .dialog-content {
        @include transition(all, 500ms);

        color: $palette_bw_9;
        background-color: $palette_bw_0;
        border-top: 3px solid $palette_dark_blue;
        max-height: 480px;
        overflow: auto;

        h1, h2, h3, h4, h5 {
            color: #fff;
        }

        a {
            cursor: pointer;
            color: #0099CC;

            &:hover {
                color: #0099CC;
            }
        }

        .dialog-inner {
            @include transition(all, 250ms);

            padding: 20px 25px;
            min-width: 240px;
            max-width: 480px;
        }

        .actions {
            @include flex-container-default();
            @include flex-justify-content(space-around);

            a {
                display: block;
                background-color: $palette_bw_3;
                color: #fff;
                padding: 10px 20px;
                text-decoration: none;

                .icon {
                    margin-right: 10px;
                }

                .text {}

                &.close {
                    background-color: $palette_dark_red;
                }

                &:hover {
                    background-color: $palette_bw_6;
                    text-decoration: none;
                }
            }
        }

        .options {
            @include flex-container-default();

            margin: 0 -25px -20px -25px;

            a {
                color: #fff;

                &:hover {
                    background-color: #222;
                }
            }

            .close {
                background-color: #cc0000;

                &:hover {
                    background-color: #ff3333;
                }
            }
        }
    }

    .dialog {
        @include flex-container-default();
        @include flex-container-align-items(flex-start);
        @include flex-justify-content(center);

        position: relative;
        max-height: 80%;

        &.option-disabled-close-button {
            .dialog-controls .close {
                display: none;
            }
        }

        &.inactive {
            zoom: 0;
            opacity: 0;
            border-width: 0;
            width: 0;

            .dialog-content {
                zoom: 0;
                opacity: 0;
                border-width: 0;
                width: 0;
            }

            .dialog-control {
                display: none;
            }
        }

        &.prompt {
            .dialog-inner {
                min-width: 120px;
            }

            p:first-child {
                margin-top: 0;
            }

            &.vertical {
                .options {
                    @include flex-direction(column);

                    a {
                        margin: 0;
                        padding: 10px 25px;
                    }
                }
            }

            &.horizontal {
                .options {
                    @include flex-direction(row);

                    a {
                        margin: 0;
                        padding: 10px 25px;
                    }
                }
            }
        }
    }

    &.active {
        top: 0;
        bottom: 0;
    }

    &.active ~ div > * {
        @include filter(blur(3px));
    }
}