@import 'css3';
@import 'colours';

.container {
    h2 {
        max-width: 720px;
        margin: 0 auto;
        padding: 30px 50px;
        font-weight: 200;
        font-size: 3em;
    }

    .models {
        @include flex-container-default();

        max-width: 720px;
        margin: 0 auto;
        padding: 50px;

        .model {
            position: relative;
            width: 160px;
            height: 160px;
            font-size: 1em;
            text-decoration: none;
            text-transform: uppercase;
            color: $palette_bw_0;
            background-color: $palette_bw_e;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 20px;
        }
    }
}
