$fa-font-path: '../../vendors/font-awesome/fonts/';

@import 'css3';
@import 'colours';
@import '../vendors/font-awesome/scss/font-awesome';

.container article {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px 50px;
    overflow: hidden;

    table td {
        padding: 5px;
    }

    img {
        max-width: 100%;
    }
}

.photo-container {
    @include flex-container-default();

    margin-left: -40px;
    padding-left: 15px;
    border-left: 25px solid $palette_bw_e;
    white-space: nowrap;

    img {
        max-width: 100%;
    }

    img {
        @include transition(all, 250ms);

        max-height: 240px;
    }

    &.multiple {
        @include flex-justify-content(space-around);

        margin-left: -50px;
        padding-left: 50px;
        margin-right: -50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: none;
        border-top: 1px solid $palette_bw_d;
        border-bottom: 1px solid $palette_bw_d;
        white-space: normal;

        box-shadow: $palette_bw_d 0 0 10px;

        img {
            @include transition(all, 250ms);

            position: relative;
            cursor: pointer;
            max-height: 120px;
            margin-top: -3px;
            margin-left: -3px;
            margin-right: 2px;
            margin-bottom: 22px;
            border: 3px solid transparent;
            border-radius: 6px;
        }

        img:hover {
            border-color: $palette_light_blue;
        }
    }
}

.image-viewer {
    @include transition(all, 500ms);
    @include flex-container-default();
    //@include flex-direction(column);
    //@include flex-justify-content(space-around);

    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: $palette_bw_0;
    border-bottom: 5px solid $palette_light_purple;

    .close {
        @include transition(all, 250ms);

        cursor: pointer;
        display: inline-block;
        padding: 10px 12px;
        border: 5px solid $palette_bw_0;
        color: $palette_bw_0;
        background-color: $palette_bw_f;
        font-size: 20px;
        border-radius: 40px;

        &:before {
            @include fa-icon();

            content: $fa-var-arrow-up;
        }

        &:hover {
            color: $palette_light_red;
            border-color: $palette_light_red;
            box-shadow: $palette_bw_0 0 0 50px;
        }
    }

    .caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;

        span {
            padding: 5px;
            background-color: $palette_light_orange;

            &:empty {
                display: none;
            }
        }
    }

    .commands {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;
    }

    .content {
        @include flex-container-default();
        @include flex-container-align-items(center);
        @include flex-justify-content(space-around);

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        overflow: hidden;

        img {
            height: auto;
            max-width: 80%;
            max-height: 80%;
        }
    }

    &.disabled {
        top: -100%;
        bottom: 100%;
        opacity: 0.5;
    }
}

@media (max-width: 600px) {
    .image-viewer .content {
        max-width: 100%;

        img {
            max-width: 100%;
        }
    }
}

@media (max-height: 600px) {
    .image-viewer .content {
        max-height: 100%;

        img {
            max-height: none;
        }
    }
}
