@import 'css3';
@import 'colours';

.container article {
    h1 {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 3em;
        margin: 0;
        padding: 50px 0;
    }

    .metadata {
        text-align: right;
        font-size: 12px;
        font-style: italic;

        time {
            border-bottom: 1px dashed $palette_bw_d;
        }
    }
}
