@import 'css3';
@import 'colours';

.blocks {
    @include flex-container-default();

    padding: 50px 50px;

    .block {
        @include flex-container-default();

        width: 240px;
        height: 240px;
        background-color: $palette_bw_e;

        img {
            width: 240px;
            height: 240px;
        }

        &.text {
            color: $palette_bw_f;
            background-color: $palette_light_green;

            .inner {
                display: block;
                width: 100%;
                padding: 20px;
            }

            a.inner {
                color: $palette_bw_f;
                text-decoration: none;
                display: block;
                font-size: 24px;
                box-shadow: rgba(0, 0, 0, 0.8) 0 0 20px;

                &:before {
                    font-size: 16px;
                    content: "Supagarn School";
                    display: block;
                    color: $palette_dark_green;
                }
            }
        }

        &.school {
            color: $palette_bw_f;
            background-color: $palette_light_red;

            .name {
                display: block;
                font-size: 2em;
            }

            .broad-location {
                display: block;
                color: $palette_dark_red;
            }
        }

        &.community {
            color: $palette_bw_f;
            background-color: $palette_light_blue;

            a.inner {
                color: $palette_bw_f;
                text-decoration: none;

                &:before {
                    font-size: 16px;
                    content: "Facebook";
                    display: block;
                    color: $palette_dark_blue;
                }
            }
        }
    }
}