$fa-font-path: '../vendors/font-awesome/fonts/';

@import 'font';
@import 'colours';
@import 'css3';
@import '../vendors/font-awesome/scss/font-awesome';

body, input {
    font-family:
        'Roboto',
        'Helvetica Neue',
        'Helvetica',
        sans-serif
    ;

    margin: 0;
    padding: 0;
    font-weight: 200;
    background-color: $palette_bw_f;
}

table {
    max-width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;

    td {
        border: 1px solid $palette_bw_d;
        padding: 0;
        margin: 0;
    }
}

header {
    @include flex-container-default();
    @include flex-justify-content(space-between);

    //background-color: $palette_bw_e;
    border-top: 3px solid $palette_light_green;
    color: $palette_bw_6;
    padding: 0 40px;

    a, a:link {
        color: $palette_bw_6;
    }

    .trigger:before {
        @include fa-icon();
    }

    .panel {
        @include flex-container-default();
        @include flex-container-align-items(center)
    }

    .panel.meta {
        & > * {
            padding: 10px;
        }

        .menu {
            display: none;
        }

        .name {
            padding: 0px;
            font-weight: 400;

            a {
                text-decoration: none;
                padding: 10px;
                color: $palette_bw_0;
            }
        }

        nav {
            @include flex-container-default();

            padding: 0px;

            a {
                text-decoration: none;
                padding: 10px;
            }

            a.active {
                background-color: $palette_light_green;
                color: $palette_bw_f;
                font-weight: 700;
            }
        }
    }

    .panel.control {
        & > * {
            padding: 10px;
        }

        a {
            text-decoration: none;
        }

        .trigger {
            &:before {
                padding-right: 5px;
            }
        }

        .trigger.login {
            &:before {
                content: $fa-var-sign-in;
            }

            &:hover {
                color: $palette_dark_green;
            }
        }

        .trigger.logout {
            &:before {
                content: $fa-var-sign-out;
            }

            &:hover {
                color: $palette_dark_red;
            }
        }
    }
}

.container {
}

footer {
    padding: 30px 50px;
    text-align: center;
}
