@import 'colours';
@import 'css3';

header {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.container {
    @include flex-container-default();
    @include flex-justify-content(center);
    @include flex-container-align-items(center);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .login-method {
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
        background-color: $palette_dark_blue;
        text-decoration: none;
    }
}