@import 'css3';
@import 'colours';

.container article {
    h1 {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 3em;
        margin: 0;
        padding: 50px 0 0 0;
    }

    h1 + section {
    }

    h1 + section > p:first-child {
        text-transform: uppercase;
        padding: 0 0 50px 0;
        margin: 0 0 10px 0;
        font-size: 2em;
        color: $palette_bw_9;
    }
}
