$fa-font-path: '../vendors/font-awesome/fonts/';

@import 'font';
@import 'colours';
@import 'css3';
@import '../vendors/font-awesome/scss/font-awesome';

.user {
    position: relative;
    max-width: 720px;
    padding: 20px 20px 20px 70px;
    margin: 0 auto;

    .notice {
        padding: 20px;
        margin: -20px -20px 20px -70px;
        border-bottom: 3px solid $palette_bw_e;

        &.warning {
            color: $palette_dark_red;
            border-color: $palette_dark_red;
        }
    }

    .avatar {
        position: absolute;
        right: 100%;
        width: 50px;
        height: 50px;
        margin-right: -60px;
        overflow: hidden;
        border-radius: 25px;
    }

    .editable {
        cursor: pointer;
        margin-bottom: 15px;

        &:after {
            @include fa-icon();
            content: $fa-var-pencil;
            color: $palette_bw_e;
            margin-left: 10px;
        }

        &:hover:after {
            color: $palette_dark_blue;
        }

        &:empty:before {
            color: $palette_bw_d;
        }
    }

    .name {
        font-weight: 700;
        font-size: 2em;
    }

    .alias {
        &:empty:before {
            content: "No alias defined";
        }
    }

    .permissions {
        &:empty:before {
            content: "No permissions defined";
        }
    }
}