{% extends '_base_list.html' %}

{% block header_title %}People{% endblock %}

{% block container %}
    <div class="models profiles">
        {%- for model in models -%}
            <a
                class="model profile"
                href="{{ app.path(namespace + '.page', {'key': model.path}) }}"
            >
                <span>{{ '</span> <span>'.join(model.name.split()) }}</span>
            </a>
        {%- endfor -%}
    </div>
{% endblock %}

{%- block extra_css -%}
    <link rel="stylesheet" href="{{ static_path('css/profile_list.css') }}">
{%- endblock -%}
