{% extends '_base_page.html' %}

{% block main_article %}
    <h1>{{ self.header_title() }}</h1>
    <section>{{ model.description }}</section>
    <section class="metadata">
        {% set has_post_updates   = time_format(model.modified_at) == time_format(model.created_at) %}
        {% set created_timestamp  = time_format(model.created_at) %}
        {% set modified_timestamp = time_format(model.modified_at) %}
        {% set updated_ago        = time_ago(model.modified_at) %}

        Posted on <time datetime="{{ created_timestamp }}">{{ created_timestamp }}</time>

        {% if has_post_updates %}
            and updated
            <time datetime="{{ modified_timestamp }}">
                {%- if updated_ago -%}
                    {{updated_ago}} ago
                {%- else -%}
                    just now
                {%- endif -%}
            </time>
            .
        {% endif %}
    </section>
{% endblock %}

{%- block extra_css -%}<link rel="stylesheet" href="{{ static_path('css/blog_page.css') }}">{%- endblock -%}
{%- block extra_js  -%}<script src="{{ static_path('js/blog-page.js') }}"></script>{%- endblock -%}