{% extends "admin/base_list.html" %}

{% block header_title %}Courses{% endblock %}

{% block css %}
    {{ super() }}
    {# <link rel="stylesheet" href="{{ static_path('css/admin/course-list.css') }}"> #}
{% endblock %}

{% block js %}
    {{ super() }}
    {# <script src="{{ static_path('js/admin/course-list.js') }}"></script> #}
{% endblock %}

{% block route_new %}{{ app.path('admin.course.editor.new') }}{% endblock %}

{% block model_list %}
    {%- for model in models -%}
        <a
            class="model"
            href="{{ app.path('admin.course.editor.update', {'key': model.id}) }}"
            data-id="{{ model.id }}"
            data-alias="{{ model.alias or ''}}"
        >
            <span class="marker"></span>
            <span class="name">{{ model.name }}{% if not model.path %}*{% endif %}</span>
        </a>
    {%- endfor -%}
{% endblock %}
