{% extends '_layout.html' %}

{% block header_title %}{{ model.name }}{% endblock %}

{% block container %}
    <div class="image-viewer disabled">
        <div class="content"><img></div>
        <div class="caption"><span></span></div>
        <div class="commands">
            <a class="close"></a>
        </div>
    </div>
    <article>
        {%- block main_article -%}
            <h1>{{ self.header_title() }}</h1>

            <section>{{ model.description }}</section>
        {%- endblock -%}
    </article>
{% endblock %}

{%- block css -%}
    <link rel="stylesheet" href="{{ static_path('css/base_page.css') }}">
    {%- block extra_css -%}{%- endblock -%}
{%- endblock -%}

{%- block js -%}
    <script src="{{ static_path('js/base-page.js') }}"></script>
    {%- block extra_js -%}{%- endblock -%}
{%- endblock -%}
