{% extends '_layout.html' %}

{% block header_title %}Something{% endblock %}

{% block container %}
    <h2>{{ self.header_title() }}</h2>

    <div class="models">
        {%- for model in models -%}
            <a
                class="model"
                href="{{ app.path(namespace + '.page', {'key': model.path}) }}"
            >
                <span class="name">{{ model.name }}</span>
            </a>
        {%- endfor -%}
    </div>
{% endblock %}

{%- block css -%}
    <link rel="stylesheet" href="{{ static_path('css/base_list.css') }}">
    {%- block extra_css -%}{%- endblock -%}
{%- endblock -%}