<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no"/>
    <title>{% block header_title %}Undefined title{% endblock %} - Supagarn School</title>
    <link rel="stylesheet" href="{{ static_path('vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_path('vendors/nprogress/nprogress.css') }}">
    {%- block main_css -%}
        <link rel="stylesheet" href="{{ static_path('css/layout.css') }}">
    {%- endblock -%}
    {%- block css -%}{%- endblock -%}
</head>
<body class="ua-{{ device_form_factor }}{% if is_mobile %} ua-mobile{% endif %}">
    <header>
        <div class="panel meta">
            <div class="menu"><span class="fa fa-bars" title="menu"></span></div>
            <div class="name">
                {%- block main_nav -%}
                    <a href="{{ app.path('home') }}">Supagarn School</a>
                {%- endblock -%}
            </div>
            <nav>
                {%- block nav -%}
                    {% set in_about   = '/about'   in app.request.uri[:6] %}
                    {% set in_courses = '/courses' in app.request.uri[:9] %}
                    {% set in_people  = '/people'  in app.request.uri[:8] %}
                    {% set in_updates = '/updates' in app.request.uri[:9] %}
                    {% set in_contact = '/contact' in app.request.uri[:9] %}

                    <a class="{% if in_about   %}active{% endif %}" href="{{ app.path('page', {'key': 'about-supagarn-school'}) }}">About</a>
                    <a class="{% if in_courses %}active{% endif %}" href="{{ app.path('course.list')  }}">Courses</a>
                    <a class="{% if in_people  %}active{% endif %}" href="{{ app.path('profile.list') }}">People</a>
                    <a class="{% if in_updates %}active{% endif %}" href="{{ app.path('blog.list')    }}">Updates</a>
                    <a class="{% if in_contact %}active{% endif %}" href="{{ app.path('page', {'key': 'contact'}) }}">Contact</a>
                {%- endblock -%}
            </nav>
        </div>
        <div class="panel control">
            {%- if auth_user -%}
                <a href="{{ app.path('admin.home') }}">Admin</a>
                <a href="{{ app.path('user.settings') }}">Settings</a>
            {%- endif -%}
            {%- set auth_method_direction = 'out' if auth_user else 'in' -%}

            <a class="trigger log{{ auth_method_direction }}"
                href="{{ app.path('log' + auth_method_direction) }}"
                title="Log {{ auth_method_direction }}"
            >log {{ auth_method_direction }}</a>

        </div>
    </header>
    <div class="container">
        {%- block container -%}{%- endblock -%}
    </div>
    <footer>
        <nav>
            {%- block footer_nav -%}
                <a href="{{ app.path('course.list') }}">Courses</a>
                <a href="{{ app.path('profile.list') }}">People</a>
                <a href="{{ app.path('sitemap') }}">Sitemap</a>
            {%- endblock -%}
        </nav>
    </footer>
    <script>
        var rpcUrl = "{{ app.path('rpc') }}";
    </script>
    <script src="{{ static_path('vendors/nprogress/nprogress.js') }}"></script>
    <script src="{{ static_path('vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ static_path('js/common.js') }}"></script>
    {%- block js -%}{%- endblock -%}
</body>
</html>
