{% extends '_layout.html' %}

{% block header_title %}Security Bypasser{% endblock %}

{% block container %}
    <h2>Security Bypasser</h2>

    <p>Please note that this is for developmental and maintainance uses only.</p>

    <ul>
        {% for user in users %}
            <li><a href="{{ app.path('developer.security.bypasser', {'key': user.id }) }}">{{ user.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block css %}
<style>
    .container {
        padding: 20px 50px;
    }
</style>
{% endblock %}
