{% extends '_layout.html' %}

{% block header_title %}Supagarn School, Bangkok{% endblock %}

{#% block nav %}{% endblock %#}

{% block container %}
    <div class="blocks">
        {%- for image_name in image_names -%}
            {%- set i = loop.index -%}

            {%- if i == 1 -%}
                <div class="block text school">
                    <div class="inner">
                        <span class="name">Supagarn School</span>
                        <span class="broad-location">Bangkok, Thailand</span>
                    </div>
                </div>
            {%- endif -%}

            {%- if i == 3 -%}
                <div class="block text community">
                    <a class="inner" href="https://www.facebook.com/supagran.school" target="_blank">
                        Announcements and Updates
                    </a>
                </div>
            {%- endif -%}

            {%- if i == 5 -%}
                <div class="block text about">
                    <a class="inner" href="{{ app.path('page', {'key': 'about-supagarn-school'}) }}">
                        เกี่ยวกับโรงเรียน
                    </a>
                </div>
            {%- endif -%}

            {%- if i == 7 -%}
                <div class="block text courses">
                    <a class="inner" href="{{ app.path('course.list') }}">
                        วิชาที่เปิดสอน
                    </a>
                </div>
            {%- endif -%}

            {%- if i == 9 -%}
                <div class="block text courses">
                    <a class="inner" href="{{ app.path('profile.list') }}">
                        อาจารย์
                    </a>
                </div>
            {%- endif -%}

            <div class="block image"><img class="block" src="{{ static_path('p-img/homepage-bw/' + image_name) }}"></div>
        {%- endfor -%}
    </div>
{% endblock %}

{%- block css -%}
    <link rel="stylesheet" href="{{ static_path('css/home.css') }}">
{%- endblock -%}