{% extends '_layout.html' %}

{% block header_title %}Log in{% endblock %}

{% block container %}
    <div>Continue to log in with <a class="login-method" href="{{ app.path('auth.inf.fb') }}">Facebook</a></div>
{% endblock %}

{%- block css -%}
    <link rel="stylesheet" href="{{ static_path('css/login.css') }}">
{%- endblock -%}