{% extends '_layout.html' %}

{% block header_title %}{{ model.name }}{% endblock %}

{% block container %}
    <article>
        <h1>{{ self.header_title() }}</h1>

        <section>{{ model.description }}</section>
    </article>
{% endblock %}

{%- block css -%}
    <link rel="stylesheet" href="{{ static_path('css/course_page.css') }}">
{%- endblock -%}