{% extends '_layout.html' %}

{% block header_title %}{{ current_user.name }}{% endblock %}

{% block container %}
    <div class="user">
        {% if not current_user.alias %}
            <div class="notice warning undefined-alias">
                Your account is temporarily disabled <b>until the alias is defined</b>.
            </div>
        {% endif %}
        <div class="avatar"><img src="{{ current_user.avatar }}"/></div>
        <div class="name editable">{{ current_user.name }}</div>
        <div class="alias editable">{{ current_user.alias or '' }}</div>
        <div class="permissions editable">
            {%- for p in current_user.permissions -%}
                <span class="permission">{{ p }}</span>
            {%- endfor -%}
        </div>
    </div>
{% endblock %}

{%- block css -%}
    <link rel="stylesheet" href="{{ static_path('css/user.settings.css') }}">
{%- endblock -%}