{% extends '_layout.html' %}

{% block header_title %}Sitemap{% endblock %}

{% block container %}
    <h2>{{ self.header_title() }}</h2>

    <div class="pages">
        {%- for page in pages -%}
            <a
                class="page"
                href="{{ app.path('page', {'key': page.path}) }}"
            >
                <span class="name">{{ page.name }}{% if not page.path %}*{% endif %}</span>
            </a>
        {%- endfor -%}
    </div>
{% endblock %}

{%- block css -%}
    <!-- <link rel="stylesheet" href="{{ static_path('css/login.css') }}"> -->
{%- endblock -%}